:root {
  --twinkle-blue: #d1d8e0;
  --reptile-green: #26de81;
  --algal-fuel: #20bf6b;
  --swan-white: #f7f1e3;
  --blue-horizon: #4b6584;
  --midnight-blue: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}